*
!OEEF-scans.ipynb
!OEEF-initial-scans.ipynb
!reactions.ipynb
!README.md
!data
!data/*
!data/*/*
!data/*/*/*.csv
!pymol-scripts
!pymol-scripts/*
!pymol-scripts/pymolEfieldPlugin/*
!plugin_pic.png
*.DS_Store
